/* 
    Document   : Users
    Created on : 10.12.2012, 11:20:56
    Author     : d.duritskij
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding: 0px;
    background-color: gainsboro;
    margin: 0px auto;
    text-align:left;
    font-family: sans-serif;
}

body.width950 {
    min-width:950px;
    max-width:950px;
}

div.pageItem {
    width: auto;
    padding: 15px;
}

div.zindex10 {
    z-index: 10;
}

div.balloon {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:50px;
    left: 50px;
    height: 280px;
    width: 600px;
    z-index: 1;
}

iframe.balloon {
    height: 280px;
    width: 600px;
}

div.header {
    background-color: cornflowerblue;
    min-height: 35px;
    font-size: xx-large;
    vertical-align: bottom;
    color: black;
}

span.required {
    color: red;
    font-style: oblique;
}

.highlighter {
    outline: solid rgba(0, 0, 0, .25) 10000px;
}

.noBorder {
    border: 0px;
}

.maxWidth {
    width: 100%;
}

.width5percent {
    width: 5%;
}

.width10percent {
    width: 10%;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.margin5 {
    margin: 5px;
}

.margin2 {
    margin: 2px;
}

.noMarginNoPadding {
    margin: 0px;
    padding: 0px;
}
