/* 
    Document   : Users
    Created on : 10.12.2012, 11:20:56
    Author     : d.duritskij
    Description:
        Purpose of the stylesheet follows.
*/

.highlighter {
    outline: solid rgba(0, 0, 0, .25) 10000px;
}

body.adminPage {
    padding: 0px;
    margin: 0px;
    background-color: gainsboro;
    margin: 0px auto;
    text-align:left;
}

div.adminPageItem {
    width: auto;
    padding: 15px;
    font-family: sans-serif;
    z-index: 10;
}

div.adminPageFrame {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:50px;
    left: 50px;
    height: 500px;
    width: 600px;
    z-index: 1;
}

iframe.adminPageFrame {
    padding: 0px;
    margin: 0px;
    height: 500px;
    width: 600px;
    z-index: 1;
    border: 0px;
}

div.adminHeaderDiv {
    background-color: cornflowerblue;
    min-height: 35px;
    font-size: xx-large;
    text-align: left;
    vertical-align: bottom;
    color: black;
}

/* Классы для формирования таблицы с пользователями */
table.usersView {
    border: 0px;
    margin: 5px;
}

div.usersViewTextCell {
    margin: 2px;
}